
<form class="container my-3" (ngSubmit)="createLibro()">
  <div class="form-group">
    <label for="exampleInputEmail1">Titulo</label>
    <input type="text" class="form-control" id="imputTitulo"  [(ngModel)]="Libro.titulo" name="titulo" aria-describedby="emailHelp" placeholder="Titulo del libro">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Autor</label>
    <input type="text" class="form-control" id="imputAutor" [(ngModel)]="Libro.autor" name="autor" aria-describedby="emailHelp" placeholder="Autor del libro">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Genero</label>
    <select [(ngModel)]="Libro.genero" name="genero" class="form-control" id="exampleFormControlSelect1Genero">
      <option>Terror</option>
      <option>Accion</option>
      <option>Aventura</option>
      <option>Comedia</option>
      <option>Ficcion</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Año de Publicacion</label>
    <input type="date" class="form-control" id="imputFecha" [(ngModel)]="Libro.publicacion" name="publicacion" aria-describedby="emailHelp" placeholder="Año del libro">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Resumen</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="Libro.resumen" name="resumen" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Enviar datos</button>
</form>
